{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ '  .css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- unless section.settings.quick_add == 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

{{ 'c_slider-start.css' | asset_url | stylesheet_tag }}

<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">

<div class="page-width">
  <div class="splide c_splide-{{ section.id }}" role="group" aria-label="{{ section.settings.title }}">
    <div class="splide__track">
      <ul class="splide__list">
        {% for product in section.settings.collection.products %}

        <li class="splide__slide">
          {% render 'card-product',
              card_product: product,
              media_aspect_ratio: 'square',
              image_shape: 'default',
              show_secondary_image: true,
              show_vendor: true,
              section_id: section.id,
              quick_add: 'standard'
            %}
        </li>
        {% endfor %}
      </ul>
    </div>
</div>
</div>

<script>
  document.addEventListener( 'DOMContentLoaded', function() {
    var splide = new Splide( '.c_splide-{{ section.id }}', {
      perPage: 4,
      pagination: true,
      gap: 16,
    });
    splide.mount();
  } );
</script>

{% schema %}
{
  "name": "カスタム:スライダー（コレクション）",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "見出し",
      "default": "見出し"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "コレクション"
    },
    {
      "type": "header",
      "content": "上下の余白"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "上部の余白（PC）",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "下部の余白（PC)",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_sp",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "上部の余白",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_sp",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "下部の余白",
      "default": 0
    }
  ],
  "presets":[
    {
      "name" : "カスタム:スライダー（コレクション）",
      "category": "カスタムパーツ"
    }
  ]
}
{% endschema %}