{% comment %}splide{% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">

{{ 'c_slider.css' | asset_url | stylesheet_tag }}

{%- style -%}
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  @media screen and (max-width: 750px) {
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top_sp }}px;
      padding-bottom: {{ section.settings.padding_bottom_sp }}px;
    }
  }

  {% if design_mode %}
    .splide {
      visibility: visible!important;
    }
    
    .splide__list {
      display: block;
    }
    
    .splide.is-initialized .splide__list {
      display: flex;
    }
  {% endif %}

  .c_splide__slide img {
    width: 100%;
    height: 100%;
  }
{%- endstyle -%}

<div class="splide c_splide splide-{{ section.id }}">
  <div class="splide__track">
    <ul class="splide__list">
      {% for block in section.blocks %}
        <li class="splide__slide c_splide__slide">
          {% if block.settings.url != blank %}<a class="c_splide__slide--link" href="{{ block.settings.url }}">{% endif %}
            <picture>
              <source srcset="{{ block.settings.image_sp | image_url: width: 800 }}" media="(max-width: 750px)">
              <img src="{{ block.settings.image | image_url: width: 1920 }}" width="1920" height="800" alt="{{ block.settings.image.alt }}" loading="lazy">
            </picture>
          {% if block.settings.url != blank %}</a>{% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<script>
  window.addEventListener('DOMContentLoaded', function() {
    const splide = new Splide(".splide-{{ section.id }}", {
      type: "slide",
    })

    splide.mount();
  })
</script>

{% schema %}
{
  "name": "カスタム:スライダー",
  "settings": [
    {
      "type": "header",
      "content": "上下の余白"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "上部の余白（PC）",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "下部の余白（PC)",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_sp",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "上部の余白",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_sp",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "下部の余白",
      "default": 0
    }
  ],
  "blocks" : [
    {
      "type": "slide",
      "name": "スライド",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "画像（PC）"
        },
        {
          "type": "image_picker",
          "id": "image_sp",
          "label": "画像（SP）"
        },
        {
          "type": "url",
          "id": "url",
          "label": "リンク"
        }
      ]
    }
    ],
  "presets":[
    {
      "name" : "カスタム:スライダー",
      "category": "カスタムパーツ"
    }
  ]
}
{% endschema %}